body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 15px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #f4f4f4;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

nav span {
    color: #5cb85c;
}

body.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-theme header,
body.dark-theme footer {
    background-color: #f4f4f4;
    color: #333;
}

nav a:hover {
    color: #5cb85c;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}